*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
        background: #795638;
}

body {
    background-image: url('imagenes/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
.section-padding {
    padding: 5%;
}

.carousel-item {
    height: 90vh;
    min-height: 300px;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase
    letter-spacing 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto
    font-size 18px;
    line-height: 1.9;
}

.col-md-6 {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}